@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal-Light.otf') format('opentype');
  font-weight: lighter;
}
@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal-Regular.otf') format('opentype');
  font-weight: normal;
}
@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal-Medium.otf') format('opentype');
  font-weight: 500;
}
@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal-Bold.otf') format('opentype');
  font-weight: bold;
}


body{
  color:#121212;
  background-color: #fbfbfb;
  font-family: "Neue Montreal";
  scroll-behavior: smooth;
}

.glass-container::after{
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.gradient-circle{
  background: linear-gradient(45deg,#E24C3F, #F3C40F, green);
  filter: blur(150px);
}
